In [1]:
import pymongo
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pymongo import MongoClient
import os
import json

In [2]:
client = pymongo.MongoClient("mongodb+srv://virenemmanuel:roomno13@cluster0.wmlyq.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0")
db = client["airbnb"]
coll = db["listings&Reviews"]

In [3]:
data = []

for i in coll.find({},{"_id":1, "listing_url":1, "name":1, 'property_type':1, 'room_type':1, 'bed_type':1, 'minimum_nights':1, 'maximum_nights':1, 'cancellation_policy':1, 'accommodates':1, 'bedrooms':1, 'beds':1, 'number_of_reviews':1, 'bathrooms':1, 'price':1, 'extra_people':1, 'guests_included':1, 'images.picture_url':1, 'review_scores':1,'cleaning_fee':1}):
    data.append(i)

In [ ]:
data

In [5]:
len(data)

5555

In [ ]:
df_1 = pd.DataFrame(data)
df_1

In [ ]:
df_1["images"][0]["picture_url"]

In [8]:
df_1["images"] = df_1["images"].apply(lambda x: x["picture_url"] )

In [ ]:
df_1["images"]

In [10]:
df_1

,_id,listing_url,name,property_type,room_type,bed_type,minimum_nights,maximum_nights,cancellation_policy,accommodates,bedrooms,beds,number_of_reviews,bathrooms,price,cleaning_fee,extra_people,guests_included,images,review_scores
0,10096773,https://www.airbnb.com/rooms/10096773,Easy 1 Bedroom in Chelsea,Apartment,Entire home/apt,Real Bed,2,1125,flexible,2,1.0,1.0,1,1.0,145.0,60.0,0.0,1.0,https://a0.muscache.com/im/pictures/ceb6e8b2-d...,"{'review_scores_accuracy': 10, 'review_scores_..."
1,10133554,https://www.airbnb.com/rooms/10133554,Double and triple rooms Blue mosque,Bed and breakfast,Private room,Real Bed,1,1125,moderate,3,1.0,2.0,29,1.0,121.0,NaN,0.0,1.0,https://a0.muscache.com/im/pictures/68de30b5-e...,"{'review_scores_accuracy': 9, 'review_scores_c..."
2,10084023,https://www.airbnb.com/rooms/10084023,City center private room with bed,Guesthouse,Private room,Futon,1,500,strict_14_with_grace_period,1,1.0,1.0,81,1.0,181.0,50.0,100.0,1.0,https://a0.muscache.com/im/pictures/e6275515-7...,"{'review_scores_accuracy': 10, 'review_scores_..."
3,10038496,https://www.airbnb.com/rooms/10038496,Copacabana Apartment Posto 6,Apartment,Entire home/apt,Real Bed,3,75,strict_14_with_grace_period,4,1.0,3.0,70,2.0,119.0,150.0,40.0,3.0,https://a0.muscache.com/im/pictures/159d489e-6...,"{'review_scores_accuracy': 10, 'review_scores_..."
4,1003530,https://www.airbnb.com/rooms/1003530,New York City - Upper West Side Apt,Apartment,Private room,Real Bed,12,360,strict_14_with_grace_period,2,1.0,1.0,70,1.0,135.0,135.0,0.0,1.0,https://a0.muscache.com/im/pictures/15074036/a...,"{'review_scores_accuracy': 10, 'review_scores_..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5550,9759181,https://www.airbnb.com/rooms/9759181,2 beds in Chic Apt in Astoria NYC,Apartment,Private room,Real Bed,3,1125,strict_14_with_grace_period,4,2.0,2.0,0,1.0,159.0,35.0,0.0,4.0,https://a0.muscache.com/im/pictures/3b173709-7...,{}
5551,9696653,https://www.airbnb.com/rooms/9696653,Stylish 1br apt west village,Apartment,Entire home/apt,Real Bed,1,1125,strict_14_with_grace_period,2,1.0,1.0,108,1.0,108.0,80.0,0.0,1.0,https://a0.muscache.com/im/pictures/6d49b329-0...,"{'review_scores_accuracy': 10, 'review_scores_..."
5552,9979991,https://www.airbnb.com/rooms/9979991,,Apartment,Entire home/apt,Real Bed,1,1125,flexible,3,1.0,1.0,0,1.0,1052.0,NaN,0.0,1.0,https://a0.muscache.com/im/pictures/a324fdad-6...,{}
5553,9951865,https://www.airbnb.com/rooms/9951865,Quarto Legal,Apartment,Private room,Real Bed,2,15,moderate,1,1.0,1.0,1,1.0,101.0,50.0,0.0,1.0,https://a0.muscache.com/im/pictures/43719c6f-2...,"{'review_scores_accuracy': 10, 'review_scores_..."
5554,9867316,https://www.airbnb.com/rooms/9867316,Beautiful Place in the Middle of Manhattan,Apartment,Entire home/apt,Real Bed,1,1125,strict_14_with_grace_period,2,1.0,1.0,180,1.0,160.0,40.0,20.0,2.0,https://a0.muscache.com/im/pictures/a5494d2c-3...,"{'review_scores_accuracy': 9, 'review_scores_c..."

In [11]:
df_1["review_scores"][0]["review_scores_rating"]

100

In [12]:
df_1["review_scores"] = df_1["review_scores"].astype(object).apply(lambda x: x.get("review_scores_rating", 0) if isinstance(x, dict) else 0)

In [13]:
df_1["review_scores"]

0       100
1        92
2        92
3        98
4        94
       ...
5550      0
5551     92
5552      0
5553    100
5554     92
Name: review_scores, Length: 5555, dtype: int64

In [ ]:
df_1

In [ ]:
df_1.isnull().sum()

# Handling Null Values

**The Null value Feartures are**
* bedrooms
* beds
* bathrooms 
* cleaning_fee

In [16]:
df_1["bedrooms"] = df_1["bedrooms"].fillna(0)
df_1["beds"] = df_1["beds"].fillna(0)
df_1["bathrooms"] = df_1["bathrooms"].fillna(0)
df_1["cleaning_fee"] = df_1["cleaning_fee"].fillna(0)

In [ ]:
df_1.isnull().sum()

In [ ]:
df_1.dtypes

In [ ]:
df_1.head()

In [ ]:
df_1["minimum_nights"] = pd.to_numeric(df_1["minimum_nights"], errors="coerce").astype(int)
df_1["maximum_nights"] = pd.to_numeric(df_1["maximum_nights"], errors="coerce").astype(int)
df_1["beds"] = pd.to_numeric(df_1["beds"], errors="coerce").astype(int)
df_1["bedrooms"] = pd.to_numeric(df_1["bedrooms"], errors="coerce").astype(int)
df_1["bathrooms"] = pd.to_numeric(df_1["bathrooms"], errors="coerce").astype(int)
df_1["price"] = pd.to_numeric(df_1["price"].astype(str), errors="coerce").astype(int)
df_1["cleaning_fee"] = pd.to_numeric(df_1["cleaning_fee"], errors="coerce").astype(int)
df_1["extra_people"] = pd.to_numeric(df_1["extra_people"], errors="coerce").astype(int)
df_1["guests_included"] = pd.to_numeric(df_1["guests_included"], errors="coerce").astype(int)

In [ ]:
df_1.dtypes

In [22]:
df_1["guests_included"].dtypes

dtype('int32')

In [ ]:
df_1["guests_included"].unique

In [ ]:
df_1

# Collecting host Details:-

In [26]:
host = []

for i in coll.find({},{"_id":1,"host":1}):
    host.append(i)

In [ ]:
host

In [28]:
len(host)

5555

In [29]:
df_host = pd.DataFrame(host)

In [ ]:
df_host

In [ ]:
df_host["host"].unique

In [40]:
host_columns = {'_id':[],'host_id':[], 'host_url':[], 'host_name':[], 'host_location':[],"host_response_time":[],
                'host_thumbnail_url':[], 'host_picture_url':[], 'host_neighbourhood':[], 'host_response_rate':[], 
                'host_is_superhost':[], 'host_has_profile_pic':[], 'host_identity_verified':[], 'host_listings_count':[],
                'host_total_listings_count':[], 'host_verifications':[]}

for i in df_host["_id"]:
    host_columns["_id"].append(i)

for i in df_host["host"]:
    host_columns["host_id"].append(i["host_id"])
    host_columns["host_url"].append(i["host_url"])
    host_columns["host_name"].append(i["host_name"])
    host_columns["host_location"].append(i["host_location"])
    host_columns["host_response_time"].append(i.get("host_response_time"))
    host_columns["host_thumbnail_url"].append(i.get("host_thumbnail_url"))
    host_columns["host_picture_url"].append(i["host_picture_url"])
    host_columns["host_neighbourhood"].append(i["host_neighbourhood"])
    host_columns["host_response_rate"].append(i.get("host_response_rate"))
    host_columns["host_is_superhost"].append(i["host_is_superhost"])
    host_columns["host_has_profile_pic"].append(i["host_has_profile_pic"])
    host_columns["host_identity_verified"].append(i["host_identity_verified"])
    host_columns["host_listings_count"].append(i["host_listings_count"])
    host_columns["host_total_listings_count"].append(i["host_total_listings_count"])
    host_columns["host_verifications"].append(i["host_verifications"])

In [ ]:
host_columns

In [ ]:
host_columns["_id"]

In [44]:
df_host_2 = pd.DataFrame(host_columns)

In [ ]:
df_host_2

In [ ]:
df_host_2.isnull().sum()

In [48]:
# Checking "host_neighbourhood" details

# hos_neighbourhood have more empty values
# so finding how many values are empty on that columns.

list_index = []

for index, row in df_host_2.iterrows():
    if row["host_neighbourhood"] == "":
        list_index.append(index)

In [50]:
len(list_index)

1923

In [ ]:
df_host_2.isnull().sum()

**host_neighbourhood have 1923 empty values("")**
**so i have to replace that**

# Handling Null values and Empty Values of "Host":

In [ ]:
df_host_2["host_response_time"].fillna("Not Specified", inplace=True)
df_host_2["host_response_rate"].fillna("Not Specified", inplace=True)
df_host_2["host_neighbourhood"] = df_host_2["host_response_rate"].replace({"":"Not Specified"})

In [ ]:
df_host_2["host_neighbourhood"]

In [ ]:
df_host_2.isnull().sum()

In [57]:
list_index = []

for index, row in df_host_2.iterrows():
    if row["host_neighbourhood"] == "":
        list_index.append(index)

In [58]:
list_index

[]

In [ ]:
df_host_2.head()

In [60]:
df_host_2["host_is_superhost"] = df_host_2["host_is_superhost"].replace({True: "Yes", False: "No"})
df_host_2["host_has_profile_pic"] = df_host_2["host_has_profile_pic"].replace({True: "Yes", False: "No"})
df_host_2["host_identity_verified"] = df_host_2["host_identity_verified"].replace({True: "Yes", False: "No"})

In [ ]:
df_host_2.head()

# Extracting and Flattening Address Data

In [63]:
address = []

for i in coll.find({},{"_id":1, "address":1}):
    address.append(i)

In [ ]:
address

In [ ]:
df_address = pd.DataFrame(address)
df_address

# Address Data Extraction with ‘Not Specified’ Defaults

In [88]:
address_columns = {'_id':[], 'street':[], 'suburb':[], 'government_area':[], 'market':[], 'country':[],
                   'country_code':[], 'location_type':[], "longitude":[], "latitude":[],
                    "is_location_exact":[]}
for i in df_address["_id"]:
    address_columns["_id"].append(i)

for i in df_address["address"]: 
    address_columns["street"].append(i.get("street", "Not Specified"))
    address_columns["suburb"].append(i.get("suburb", "Not Specified"))
    address_columns["government_area"].append(i.get("government_area", "Not Specified"))
    address_columns["market"].append(i.get("market", "Not Specified"))
    address_columns["country"].append(i.get("country", "Not Specified"))
    address_columns["country_code"].append(i.get("country_code", "Not Specified"))
    # address_columns["location_type"].append(i.get("location_type", "Not Specified"))
    address_columns["location_type"].append(i["location"].get("type", "Not Specified")) 
    if i.get("location"):
        address_columns["longitude"].append(i["location"].get("coordinates")[0])
        address_columns["latitude"].append(i["location"].get("coordinates")[1])
        address_columns["is_location_exact"].append(i["location"].get("is_location_exact", "Not Specified"))
    else:
        address_columns["longitude"].append("Not Specified")
        address_columns["latitude"].append("Not Specified")
        address_columns["is_location_exact"].append("Not Specified")

In [ ]:
address_columns

In [ ]:
df_address_1 = pd.DataFrame(address_columns)
df_address_1

In [90]:
df_address_1["is_location_exact"] = df_address_1["is_location_exact"].replace({True: "Yes", False: "No"})

In [ ]:
df_address_1.isnull().sum()

# Availability Data Extraction

In [97]:
availablility = []
for i in coll.find({},{"_id":1, "availability":1}):
    availablility.append(i)

In [99]:
len(availablility)

5555

In [100]:
df_available = pd.DataFrame(availablility)

In [ ]:
df_available

In [106]:
available_columns = {'_id':[], 'availability_30':[], 'availability_60':[], 'availability_90':[], 'availability_365':[]}

In [107]:
for i in df_available["_id"]:
    available_columns["_id"].append(i)

In [108]:
for i in df_available["availability"]:
    available_columns["availability_30"].append(i["availability_30"])
    available_columns["availability_60"].append(i["availability_60"])
    available_columns["availability_90"].append(i["availability_90"])
    available_columns["availability_365"].append(i["availability_365"])

In [110]:
df_available_1 = pd.DataFrame(available_columns)

In [ ]:
df_available_1

In [ ]:
df_available_1.isnull().sum()

In [ ]:
df_available_1.dtypes

Extracting Amenities Data from MongoDB

In [114]:
amenities = []

for i in coll.find({},{"_id":1, "amenities":1}):
    amenities.append(i)

In [116]:
len(amenities)

5555

In [ ]:
df_aminities = pd.DataFrame(amenities)
df_aminities

In [ ]:
df_aminities["amenities"][1]

In [120]:
def sort_amenities(x):
    a = x
    a.sort()
    return a

In [121]:
df_aminities["amenities"] = df_aminities["amenities"].apply(lambda x: sort_amenities(x))

In [ ]:
df_aminities["amenities"]

In [ ]:
df_aminities.isnull().sum()

In [ ]:
df_aminities.dtypes

# Merging All DataFrames

In [127]:
df_mg_1 = pd.merge(df_1,df_host_2, on="_id")
df_mg_2 = pd.merge(df_mg_1, df_address_1, on="_id")
df_mg_3 = pd.merge(df_mg_2, df_available_1, on="_id")
df_mg = pd.merge(df_mg_3, df_aminities, on="_id")

In [129]:
pd.set_option('display.max_columns', None)

In [ ]:
df_mg

In [ ]:
df_mg.to_csv("Airbnb_data.csv", index=False)

In [132]:
df = pd.read_csv("Airbnb_data.csv")

In [ ]:
df